# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release













# Logs
denture_sim_env/logs
denture_sim_env/*.log
denture_sim_env/npm-debug.log*
denture_sim_env/yarn-debug.log*
denture_sim_env/yarn-error.log*
denture_sim_env/pnpm-debug.log*
denture_sim_env/lerna-debug.log*

denture_sim_env/node_modules
denture_sim_env/dist
denture_sim_env/dist-ssr
denture_sim_env/*.local

# Editor directories and files
denture_sim_env/.vscode/*
denture_sim_env/!.vscode/extensions.json
denture_sim_env/.idea
denture_sim_env/.DS_Store
denture_sim_env/*.suo
denture_sim_env/*.ntvs*
denture_sim_env/*.njsproj
denture_sim_env/*.sln
denture_sim_env/*.sw?
